body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 10rem;
    background-color: #eee;
    padding: .5rem;
}

.container {
    display: flex;
    flex: 1;
    padding: 1rem;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: left;
}