@import url("cabecalho.css");
@import url("corpo.css");
@import url("cartao.css");
@import url("rodape.css");

* {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding: .5rem;
    background-color: #252323;
    color: #eee;
}

.logo {
    border: .1rem blue solid;
    background-color: blue;
    color: #eee;
    font-weight: bold;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: .7rem;
}

section {
    /* border: .1rem purple solid; */
    display: flex;
    flex: 1;
}

nav {
    width: 10rem;
    background-color: #eee;
    padding: .5rem;
}

.container {
    display: flex;
    flex: 1;
    padding: 1rem;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: left
}

footer {
    height: 4rem;
    padding: .5rem;
    background-color: #252323;
    color: #eee;
}