@media (max-widht: 576px) { /* como a pagina vai ficar em uma tela de ate 576px */
    .titulo {
        opacity: 0;
    }

    nav {
        display: none;
    }

    main {
        flex-direction: column;
        align-items: center; /* eixo Y */
        align-content: center; /* deixar o eixo Y alinhado */
    }
}